<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Daily Dose of Pets</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" property="og:description" content="entertaining funny pets videos app">
    <meta name="keywords" content=" cat, dog, pets, animals,
          cat games, dog games, pet games, animals games,
          cat simulator, dog simulator, pet simulator, animal simulator,
          cat videos, dog videos, pet videos, animal videos,
          cat video game, dog video game, pet video game, animal video game,
          cat ki video, dog ki video, pet ki video, animal ki video,
          cat videos app, dog videos app, pet videos app, animal videos app,
          cat videos wallpaper, dog videos wallpaper , pets videos wallpaper , animal videos wallpaper,
          cat videos download, dog videos download, pets videos download, animal videos download,
          cat videos tik tok, dog videos tik tok, pets videos tik tok, animal videos tik tok,
          funny cat videos, funny dog videos, funny pet videos, funny animal videos,
          cat fighting, dog fighting, pets fighting, animals fighting,
          cat videos app download, dog videos app download, pets videos app download, animal videos app download,
          cat videos for kids, dog videos for kids, pet videos for kids, animal videos for kids">

    <meta property="og:url" content='{% url "index" %}' />
    <meta property="og:title" content="Daily Dose of Pets" />

    <meta property="og:image" content="{% static 'assets/pwa/icons/manifest-icon-512.png' %}" />
    <meta property="og:image:alt" content="Daily Dose of Pets" />

    <link rel="stylesheet" href="{% static 'assets/css/theme.min.css' %}">
    <link rel="manifest" href="{% static 'assets/pwa/manifest.json' %}">

    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="apple-touch-icon" href="{% static 'assets/pwa/icons/apple-icon-180.png' %}">
    <link rel="apple-touch-startup-image" href="{% static 'assets/pwa/icons/apple-splash-2048-2732.jpg' %}" media="(device-width: 1024px) and (device-height: 1366px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)">
    <link rel="apple-touch-startup-image" href="{% static 'assets/pwa/icons/apple-splash-2732-2048.jpg' %}" media="(device-width: 1024px) and (device-height: 1366px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)">
    <link rel="apple-touch-startup-image" href="{% static 'assets/pwa/icons/apple-splash-1668-2388.jpg' %}" media="(device-width: 834px) and (device-height: 1194px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)">
    <link rel="apple-touch-startup-image" href="{% static 'assets/pwa/icons/apple-splash-2388-1668.jpg' %}" media="(device-width: 834px) and (device-height: 1194px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)">
    <link rel="apple-touch-startup-image" href="{% static 'assets/pwa/icons/apple-splash-1536-2048.jpg' %}" media="(device-width: 768px) and (device-height: 1024px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)">
    <link rel="apple-touch-startup-image" href="{% static 'assets/pwa/icons/apple-splash-2048-1536.jpg' %}" media="(device-width: 768px) and (device-height: 1024px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)">
    <link rel="apple-touch-startup-image" href="{% static 'assets/pwa/icons/apple-splash-1668-2224.jpg' %}" media="(device-width: 834px) and (device-height: 1112px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)">
    <link rel="apple-touch-startup-image" href="{% static 'assets/pwa/icons/apple-splash-2224-1668.jpg' %}" media="(device-width: 834px) and (device-height: 1112px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)">
    <link rel="apple-touch-startup-image" href="{% static 'assets/pwa/icons/apple-splash-1620-2160.jpg' %}" media="(device-width: 810px) and (device-height: 1080px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)">
    <link rel="apple-touch-startup-image" href="{% static 'assets/pwa/icons/apple-splash-2160-1620.jpg' %}" media="(device-width: 810px) and (device-height: 1080px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)">
    <link rel="apple-touch-startup-image" href="{% static 'assets/pwa/icons/apple-splash-1284-2778.jpg' %}" media="(device-width: 428px) and (device-height: 926px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)">
    <link rel="apple-touch-startup-image" href="{% static 'assets/pwa/icons/apple-splash-2778-1284.jpg' %}" media="(device-width: 428px) and (device-height: 926px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)">
    <link rel="apple-touch-startup-image" href="{% static 'assets/pwa/icons/apple-splash-1170-2532.jpg' %}" media="(device-width: 390px) and (device-height: 844px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)">
    <link rel="apple-touch-startup-image" href="{% static 'assets/pwa/icons/apple-splash-2532-1170.jpg' %}" media="(device-width: 390px) and (device-height: 844px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)">
    <link rel="apple-touch-startup-image" href="{% static 'assets/pwa/icons/apple-splash-1125-2436.jpg' %}" media="(device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)">
    <link rel="apple-touch-startup-image" href="{% static 'assets/pwa/icons/apple-splash-2436-1125.jpg' %}" media="(device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)">
    <link rel="apple-touch-startup-image" href="{% static 'assets/pwa/icons/apple-splash-1242-2688.jpg' %}" media="(device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)">
    <link rel="apple-touch-startup-image" href="{% static 'assets/pwa/icons/apple-splash-2688-1242.jpg' %}" media="(device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)">
    <link rel="apple-touch-startup-image" href="{% static 'assets/pwa/icons/apple-splash-828-1792.jpg' %}" media="(device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)">
    <link rel="apple-touch-startup-image" href="{% static 'assets/pwa/icons/apple-splash-1792-828.jpg' %}" media="(device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)">
    <link rel="apple-touch-startup-image" href="{% static 'assets/pwa/icons/apple-splash-1242-2208.jpg' %}" media="(device-width: 414px) and (device-height: 736px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)">
    <link rel="apple-touch-startup-image" href="{% static 'assets/pwa/icons/apple-splash-2208-1242.jpg' %}" media="(device-width: 414px) and (device-height: 736px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)">
    <link rel="apple-touch-startup-image" href="{% static 'assets/pwa/icons/apple-splash-750-1334.jpg' %}" media="(device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)">
    <link rel="apple-touch-startup-image" href="{% static 'assets/pwa/icons/apple-splash-1334-750.jpg' %}" media="(device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)">
    <link rel="apple-touch-startup-image" href="{% static 'assets/pwa/icons/apple-splash-640-1136.jpg' %}" media="(device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)">
    <link rel="apple-touch-startup-image" href="{% static 'assets/pwa/icons/apple-splash-1136-640.jpg' %}" media="(device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)">
</head>

<body>

 <section class="section-border border-primary">
      <div class="container d-flex flex-column">
        <div class="row align-items-center justify-content-center no-gutters min-vh-100">
          <div class="col-8 col-md-6 col-lg-7 offset-md-1 order-md-2 mt-auto mt-md-0 pt-8 pb-4 py-md-11">
            <img src="https://cdn.jsdelivr.net/gh/content-buddy-app/app_screens/error.jpg" alt="image not found" class="img-fluid">
          </div>
          <div class="col-12 col-md-5 col-lg-4 order-md-1 mb-auto mb-md-0 pb-8 py-md-11">
            <h1 class="display-3 font-weight-bold text-center">
              Explore More Videos
            </h1>
            <div class="text-center">
                <a class="btn btn-primary" href='{% url "index" %}'>
                     Press Here
                </a>
            </div>

          </div>
        </div>
      </div>
    </section>

<script src="{% static 'assets/js/theme.min.js' %}"></script>
</body>
</html>