<script src="https://www.gstatic.com/firebasejs/8.2.3/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.2.3/firebase-analytics.js"></script>

<script>
  var firebaseConfig = {
    apiKey: "AIzaSyAz9_gWx8W8kL5EkfjvVYU93xo45E8avno",
    authDomain: "daily-dose-of-pets.firebaseapp.com",
    projectId: "daily-dose-of-pets",
    storageBucket: "daily-dose-of-pets.appspot.com",
    messagingSenderId: "1023781060115",
    appId: "1:1023781060115:web:6507fde2c128e2dcd549e6",
    measurementId: "G-J7RL2B95X3"
  };

  firebase.initializeApp(firebaseConfig);
  firebase.analytics();
</script>